*{
   margin: 0;
   padding: 0;
   text-align: center;

}
body{
    background-color: aqua;
}
#gameName{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;

    
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice:hover{
    cursor: pointer;
    background-color: black;
   

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    font-size: 2rem;

}
#userScore{
    font-size: 4rem;
}
#computerScore{
    font-size: 4rem;
}
#msg-container{
    margin-top: 7rem;
}


#msg{
    padding: 1rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    display: inline;
}